@model IEnumerable<SignalRProject.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="row mt-5">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>  Id  </th>
                    <th>  Name  </th>
                    <th> Description  </th> 
                </tr>
            </thead>
            <tbody id="categories">
            </tbody>
        </table>
    </div>
</div>