@model Product
<div class="product-container">
    <figure>
        <div class="product-wrap">
            <div class="product-images">
                <span class="onsale">Sale!</span>
                <div class="shop-loop-thumbnail shop-loop-front-thumbnail">
                    <a href="shop-detail-1.html"><img width="450" height="450" src="images/products/product_328x328.jpg" alt="" /></a>
                </div>
                <div class="shop-loop-thumbnail shop-loop-back-thumbnail">
                    <a href="shop-detail-1.html"><img width="450" height="450" src="images/products/product_328x328alt.jpg" alt="" /></a>
                </div>
            </div>
        </div>
        <figcaption>
            <div class="shop-loop-product-info">
                <div class="info-meta clearfix">
                    <div class="star-rating">
                        <span style="width:0%"></span>
                    </div>
                    <div class="loop-add-to-wishlist">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#" class="add_to_wishlist">
                                    Add to Wishlist
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-content-wrap">
                    <h3 class="product_title">
                        <a href="shop-detail-1.html">@Model.ProductName</a>
                    </h3>
                    <div class="info-price">
                        <span class="price">
                            <del>
                                <span class="amount">£@Model.UnitPrice</span>
                            </del>
                            <ins>
                                <span class="amount">£@Model.UnitPrice</span>
                            </ins>
                        </span>
                    </div>
                    <div class="loop-action">
                        <div class="loop-add-to-cart">
                            <a href="javascript:void(0)" class="add_to_cart_button" data-elma="@Model.ProductID">
                                Add to cart
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </figcaption>
    </figure>
</div>