@model List<PopularTag>

<div class="widget-title">
    <h3>Popular tags</h3>
</div>
<div class="widget-detail">
    <div class="tagcloud">
        @foreach (PopularTag tag in Model)
        {
            <a href="#">@tag.Name<span>(5)</span></a> 
        }
    </div>
</div>